/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Variables */
:root{
    --primary-font:'Poppins', sans-serif;
    --body-gradient:linear-gradient(135deg, #4AB1FF, #810CAB);
    --white-color: #fff;
    --purple-color: #810CAB;
    --blue-color: #3C87FF;
    --gray-1: #ccc;
    --gray-2: #999;
    --gray-3: #bfbfbf;
    --light-gray-1: #f1f1f1;
    --light-gray-2: #e6e6e6;
    --light-gray-3: #f5f5f5;
    --light-black: #444444;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

html{
    /* Font Size 10px = 1rem */
    font-size: 10px;
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: var(--body-gradient);
}

/* Backgroud-color on selecting any text */
::selection{
    color: var(--white-color);
    background-color: var(--purple-color);
}

.wrapper{
    max-width: 50rem;
    padding: 2.8rem 0 3rem;
    margin: 13rem auto;
    background-color: var(--white-color);
    border-radius: 0.7rem;
    box-shadow: 1.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

.task-input{
    height: 5.2rem;
    padding: 0 2.5rem;
    position: relative;
}

.task-input img{
    top: 50%;
    width: 2.5rem;
    position: absolute;
    transform: translate(1.7rem, -50%); /* (horizontal,vertical)*/
}

.task-input input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 1.8rem;
    border-radius: 0.5rem;
    padding: 0 2rem 0 5.3rem;
    border: 0.1rem solid var(--gray-2);
}

.task-input input:focus,.task-input input:active{
    padding-left: 5.2rem;
    border: 0.2rem solid var(--blue-color);
}

.task-input input::placeholder{
    color: var(--gray-3);
}

.controls, li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls{
    padding: 1.8rem 2.5rem;
    border-bottom: 0.1rem solid var(--gray-1);
}

.filters span{
    margin: 0 0.8rem;
    font-size: 1.7rem;
    color: var(--light-black);
    cursor: pointer;
}

.filters span:first-child{
    margin-left: 0;
}

.filters span.active{
    color: var(--blue-color);
}

.filters span:active{
    color: var(--blue-color);
}

.controls .clear-btn{
    border: none;
    outline: none;
    color: var(--white-color);
    cursor: pointer;
    font-size: 1.3rem;
    padding: 0.7rem 1.3rem;
    border-radius: 0.4rem;
    letter-spacing: 0.3px;
    transition: transform 0.25s ease;
    background: linear-gradient(135deg, var(--blue-color) 0%, var(--purple-color) 100%);
}

.clear-btn:active{
    opacity: 0.6;
    transform: scale(0.93);
}

.task-box{
    margin-top: 2rem;
    margin-right: 0.5rem;
    padding: 0 2rem 1rem 2.5rem;
}

.task-box .task{
    list-style: none;
    font-size: 1.7rem;
    margin-bottom: 1.8rem;
    padding-bottom: 1.6rem;
    align-items: flex-start;
    border-bottom: 0.1rem solid var(--light-gray-2);
}

.task-box .task:last-child{
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}

.task-box .task label{
    display: flex;
    align-items: flex-start;
}

.task label input{
    margin-top: 0.3rem;
}

.task label p{
    user-select: none; 
    margin-left: 1.2rem;
    word-wrap: break-word;
}

.task label p.checked{
    text-decoration: line-through;
}

.task-box .settings{
    position: relative;
}

.settings :where(i,li){
    cursor: pointer;
}

.settings .task-menu{
    z-index: 10;
    right: -0.5rem;
    bottom: -6.5rem;
    padding: 0.5rem 0;
    background: var(--white-color);
    position: absolute;
    transform: scale(0); /* Hide the task menu */
    transform-origin: top right;
    box-shadow: 0 0 0.6rem rgba(0,0,0,0.15);
    transition: transform 0.2s ease;
}

.task-box .task:last-child .task-menu{
    bottom: 0;
    transform-origin: bottom right;
}

.task-box .task:first-child .task-menu{
    bottom: -6.5rem;
    transform-origin: top right;
}

.task-menu.show{
    transform: scale(1); /* Show the task menu */
}

.task-menu li{
    height: 2.5rem;
    font-size: 1.6rem;
    margin-bottom: 0.2rem;
    padding: 1.7rem 1.5rem;
    cursor: pointer;
    justify-content: flex-start;
}

.task-menu li:last-child{
    margin-bottom: 0;
}

.settings li:hover{
    background: var(--light-gray-3);
}

.settings li i{
    padding-right: 0.8rem;
}

@media only screen and (max-width:540px){
    .wrapper{
        max-width: 80vw;
        padding: 1.8rem 0 2rem;
        margin: 9rem auto;
    }

    .task-input{
        height: 3.2rem;
        padding: 0 1.5rem;
    }
    .task-input img{
       width: 2rem;
    }

    .task-input input{
       font-size: 1.5rem;
    }

    .controls{
        padding: 1.4rem 1.5rem;
    }
   .filters span{
    margin: 0 0.3rem;
    font-size: 1.6rem;
   }
    
   .controls .clear-btn{
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
   }

   .task-box{
    margin-top: 1rem;
    padding: 0 1rem 0.5rem 1.5rem;
   }

   .task-box .task{
    font-size: 1.5rem;
    margin-bottom: 1rem;
   }


   .task-menu li{
    height: 2.5rem;
    font-size: 1.4rem;
    padding: 1.4rem 1.2rem;
   }

   .settings li i{
    padding-right: 0.4rem;
   }
}